.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
